exclude: '^$'
fail_fast: false
repos:
  - repo: https://github.com/psf/black-pre-commit-mirror
    rev: 25.9.0
    hooks:
      - id: black
        language_version: python3
        args:
          - --target-version=py38
  - repo: https://github.com/pycqa/isort
    rev: 7.0.0
    hooks:
      - id: isort
        language_version: python3
  - repo: https://github.com/pycqa/flake8
    rev: 7.3.0
    hooks:
      - id: flake8
        language_version: python3
        additional_dependencies: [flake8-docstrings, flake8-debugger, flake8-bugbear, mccabe]
        args: [--max-complexity, "10"]
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
        args: [--unsafe]
        # conda-recipes use jinja templating which isn't valid YAML syntax
        exclude: conda-recipe\/
  - repo: https://github.com/PyCQA/bandit
    rev: '1.8.6'
    hooks:
      - id: bandit
        args: [--ini, .bandit]
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: 'v1.18.2'  # Use the sha / tag you want to point at
    hooks:
      - id: mypy
        additional_dependencies:
          - types-docutils
          - types-setuptools
          - types-PyYAML
          - types-requests
          - types-python-dateutil
ci:
  # To trigger manually, comment on a pull request with "pre-commit.ci autofix"
  autofix_prs: false
  autoupdate_schedule: "monthly"
  skip: []
