include uwsift/data/shadedrelief.jpg
include uwsift/data/ne_50m_admin_0_countries/*
include uwsift/data/ne_110m_admin_0_countries/*
include uwsift/data/ne_50m_admin_1_states_provinces_lakes/*
recursive-include uwsift/data/fonts *.ttf
recursive-include uwsift/data/colormaps *.cmap
recursive-include uwsift/data/grib_definitions *.def
recursive-include uwsift/data/icons *.svg
recursive-include uwsift/etc *
include uwsift/ui/*.ui
include uwsift/ui/*.qml
include uwsift/ui/*.sh
include LICENSE.txt
