include sift/data/shadedrelief.jpg
include sift/data/ne_50m_admin_0_countries/*
include sift/data/ne_110m_admin_0_countries/*
include sift/data/ne_50m_admin_1_states_provinces_lakes/*
recursive-include sift/data/fonts *.ttf
recursive-include sift/data/colormaps *.cmap
recursive-include sift/data/grib_definitions *.def
include sift/ui/*.ui
include LICENSE.txt
