blockdiag
sphinxcontrib-seqdiag
sphinxcontrib-blockdiag
sphinx_rtd_theme
numpy
pillow
pyproj
sqlalchemy
pyyaml
appdirs
setuptools>=65.5.1 # not directly required, pinned by Snyk to avoid a vulnerability
